html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


tr .align-row-item-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.prices{
  display: inline;
  padding: 5%;
}

.eth-icon{
  display: inline;
}

.eth-icon img{
  width: 14px;
  height: 20px; 
}

.eth-price{
  display: inline-block;
  height: 75px;
  text-align: center;
}

.label-tag{
  font-weight: 420;
  font-size: large;
}

.usd-price{
  display: inline-block;
  height: 75px;
  text-align: center;
  font-weight: 300;
  font-size: large;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
